<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  
  <link rel="stylesheet" href="tarjetas-datos.component.css">
  <title>Frontend Mentor | Time tracking dashboard</title>

  
</head>
<body class="bg-body d-flex justify-content-center align-items-center vw-50 ">

  <div class="d-flex flex-row justify-content-center gap-4 w-25 h-50">

    <div class="d-flex flex-column align-items-between pt-4  gap-4 ">

      <div *ngIf="gifs && gifs.length > 0" class="d-flex flex-row position-relative top-0 pt-2 pb-4 gap-4 h-75 ">
        
        <div  class=" position-relative d-flex flex-column bg-dark rounded-4  p-4 pt-2">
          
          <div class="d-flex flex-row overflow-hidden justify-content-center text-bg-primary rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[0].title}}</p>
          </div>

          <img [src]="gifs[0].images.downsized_medium.url" [alt]="gifs[0].title">
          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>

        <div  class=" position-relative d-flex flex-column  bg-dark rounded-4  p-4 pt-2">

          <div class="d-flex flex-row overflow-hidden justify-content-center text-bg-secondary rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[1].title}}</p>
          </div>

          <img [src]="gifs[1].images.downsized_medium.url" [alt]="gifs[1].title">
          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>

        <div  class=" position-relative d-flex flex-column  bg-dark rounded-4  p-4 pt-2">

          <div class="d-flex flex-row overflow-hidden justify-content-center text-bg-warning rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[2].title}}</p>
          </div>

          <img [src]="gifs[2].images.downsized_medium.url" [alt]="gifs[2].title" >
          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>

      </div>

      <div *ngIf="gifs && gifs.length > 0" class="d-flex flex-row position-relative top-2 pt-2 pb-3 gap-4 h-75  ">

        <div  class=" position-relative d-flex flex-column  bg-dark rounded-4  p-4 pt-2">

          <div class="d-flex flex-row overflow-hidden justify-content-center text-bg-success rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[3].title}}</p>
          </div>

          <img [src]="gifs[3].images.downsized_medium.url" [alt]="gifs[3].title" >
          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>

        <div  class=" position-relative d-flex flex-column  bg-dark rounded-4  p-4 pt-2">

          <div style="background-color: blueviolet; color: black;" class="d-flex flex-row overflow-hidden justify-content-center rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[4].title}}</p>
          </div>

          <img [src]="gifs[4].images.downsized_medium.url" [alt]="gifs[4].title" >

          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>

        <div  class=" position-relative d-flex flex-column  bg-dark rounded-4  p-4 pt-2">

          <div class="d-flex flex-row overflow-hidden justify-content-center text-bg-danger rounded-4 position-absolute  start-0 translate-middle-y w-100">
            <p class="card-text">{{gifs[5].title}}</p>
          </div>

          <img [src]="gifs[5].images.downsized_medium.url" [alt]="gifs[5].title" >
          <img src = "../../../../assets/botones.png" alt ="botones" >

        </div>
       

      </div>

    </div>

  </div>
  
</body>
</html>